<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @racer.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @racer.last_name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @racer.gender %>
</p>
<p>
  <strong>Birth year:</strong>
  <%= @racer.birth_year %>
</p>
<p>
  <strong>City:</strong>
  <%= @racer.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @racer.state %>
</p>

<h2>Races:</h2>
<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Time</th>
      <th>Name</th>
      <th>Bib#</th>
      <th>City</th>
      <th>State</th>
      <th>Gender</th>
      <th>Gender Place</th>
      <th>Group</th>
      <th>Group place</th>
      <th>Swim</th>
      <th>Pace 100</th>
      <th>T1</th>
      <th>Bike</th>
      <th>MPH</th>
      <th>T2</th>
      <th>Run</th>
      <th>Min Mile</th>
    </tr>
  </thead>
  
</table>
<%= link_to 'Edit', edit_racer_path(@racer) %> |
<%= link_to 'Back', racers_path %>
